<template>
  <v-app dark>
    <v-navigation-drawer style="width: 20%;" class="elevation-15" app src="images/bg_login6.jpg">
      <v-overlay
        opacity="0.3"
        absolute="absolute"
        color="black"
      />
    </v-navigation-drawer>
    <v-main style="height: 100vh;" class="login-container">
      <v-container style="height: 100vh;">
        <v-card elevation="5" outlined dark class="mx-auto pa-6" style="width: 450px; top: 30%;">
          <v-card-title>Sign in to portal administration</v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="username"
                label="Name"
                required
              />

              <v-text-field
                v-model="password"
                type="password"
                label="E-mail"
                required
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" block>
              Sign In
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>
.login-container {
  background-color: #2980b9;
  background: linear-gradient(215deg, #46c5a4 29.9%, #495b43 80%), linear-gradient(304deg, rgba(0, 77, 154) 24.9%, #001c01 91%), linear-gradient(10deg, #b1c9d8 19.9%, #092122 50%), linear-gradient(145deg, #031b26 15.9%, #273244 40%);
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

</style>
<script>
export default {
  data () {
    return {
      username: null,
      password: null
    }
  }
}
</script>
