<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="9" md="9">
      <h1 class="font-weight-light mb-7">
        ~~ Changelog ~~
      </h1>
      <v-card v-for="(changelogObject, key) in changelog" :key="key" class="mb-3">
        <v-card-title class="headline font-weight-light red--text">
          Version {{ key }} ({{ changelogObject.name }})
        </v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item v-for="change in changelogObject.changes" :key="change">
              <v-list-item-content>
                <v-list-item-title><v-icon>mdi-chevron-double-right</v-icon> {{ change }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['changelog'])
  }
}
</script>
